*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #D9D9D9;
}
/* navbar */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222831;
    color: #fff;
}

a img{
    width: 10em;
    height: auto;
    padding-top:10px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 50%;
}

.nav-links li a:hover{
    color: #F3D037;
    text-decoration: underline;
}

ul.nav-links {
    max-width: 500px;
}
.nav-links li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.nav-links li:hover .menu-vertical{
    display: block;
    position: absolute;
}

.menu-vertical{
    color: white;
    position: fixed;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #222831;
    z-index: 1;
}
.menu-vertical li:hover{
    color: white;
    background-color: rgba(243, 208, 55, 0.8);
}
.menu-vertical li a:hover{
    color: white;
}
.menu-vertical li a{
    display: block;
    padding: 15px 15px 15px 20px;
    border-bottom: 1px solid white;
}

/* Footer */

footer{
    width: 100%;
    height: 20%;
    color: white;
    background-color: #820200;
}
.contacto{
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.contacto h2{
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5em;
    font-size: xx-large;
}
.info-text-1 p, .info-text-2 p{
    font-size:larger;
    font-weight: light;
}
.img-footer img{
    width: 300px;
}