/* hero */

.container{
    position: relative;
    text-align: center;
}
.container img{
    filter: brightness(40%) saturate(80%);
    max-width: 100%;
    object-fit:cover;
}
.text-container{
    font-size: 3em;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#xp {
    padding: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.experience{
    display: flex;
    flex-direction: row;
}
.title-xp{
    padding-top: 1em;
    font-weight:bolder;
    font-size:xx-large ;
    text-decoration: underline;
}
.info-text{
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: center;
}
.info-text p{
    display: flex;
    flex-direction: column;
    font-size:medium;
    margin: 1em 0;
    width: 80%;
}
.xp-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.xp-img img{
    justify-content: center;
    max-width: 25em;
    height: auto;
    border-radius: 20px;
}
#calificacion{
    padding: 0em 5em;
    display: flex;
    background-color: #F3D037;
    height: 675px;
    width: 100%;
}
.calificacion-img{
    padding-right: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calificacion-img img{
    justify-content: center;
    max-width: 25em;
    height: auto;
    border-radius: 20px;
}
.calificacion-text{
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
    align-items: initial;
    justify-content: center;
}
.calificacion-text h1{
    font-size: xx-large;
    text-decoration: underline;
}
.calificacion-text p{
    display: flex;
    font-size:medium;
    margin: 1em 0;
    width: 80%;
}


/* responsive apart */

@media screen and (max-width: 768px) {
    .nav-links {
    display: flex;
    flex-direction: column;
    }
    .nav-links li{
        margin-bottom: 0.6em;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em 0;
    }
    .btn{
        margin-top: 2em;
    }
    #xp{
        padding: 1em;
        flex-direction: column;
    }
    .experience{
        flex-direction: column;
    }
    .info-text{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .xp-img img{
        align-items: center;
        justify-content: center;
    }
    .xp-img img{
        width: 80%;
    }
    .img-footer{
        display: none;
    }
    #calificacion{
        flex-direction: column;
    }
    .calificacion-img{
        margin-top: 2em;
    }
    .calificacion-img img{
        max-width: 85%;
    }
    .calificacion-text{
        display: flex;
        flex-direction: column;
    }
}